<h1>Nearest 10 Stations within 6 miles of <%= params[:zip] %></h1>
<table>
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Fuel Types</th>
    <th>Distance</th>
    <th>Access Times</th>
  </thead>
  <tbody>
    <% @results.each do |station| %>
      <tr>
        <td><%= station.station_name %></td>
        <td><%= station.street_address %></td>
        <td><%= station.fuel_type_code %></td>
        <td><%= station.distance %></td>
        <td><%= station.access_days_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
