<h1>Nearest 10 Stations within <%= distance %> miles of <%= zip_code %></h1>
<table class='table table-striped table-responsive'>
  <thead>
    <th>Name</th>
    <th>Address</th>
    <th>Fuel Types</th>
    <th>Distance (mi.)</th>
    <th>Access Times</th>
  </thead>
  <tbody>
    <% @stations.each_with_index do |station, index| %>
      <tr id="station-<%= index + 1 %>">
        <td><%= station.station_name %></td>
        <td><%= station.address %></td>
        <td><%= station.fuel_type_code %></td>
        <td><%= station.distance %></td>
        <td><%= station.access_days_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
